.cart {
  background: #f9f9f9;
  padding: 2rem;
  border-top: 2px solid #eee;
}
.cart h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.cart button {
  background: crimson;
  color: white;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  cursor: pointer;
}
.cart button:hover {
  background: darkred;
}
.cart select {
  padding: 0.5rem;
  margin-top: 1rem;
}
